*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* common css */
body{
  font-family: 'Work Sans', sans-serif;
}

.section_heading {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #131313;
}

.section_details {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

button{
  font-size: 20px;
  font-weight: 600;
  background-color: #FF900E;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  box-shadow:  inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

button:hover{
  color: #FF900E;
  background-color: #FFFFFF;
  box-shadow:  inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 144, 14),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* common css */

/* header css */
header{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.logo_text p{
  color: #131313;
  font-size: 35px;
  font-weight: 700;
  padding: 25px 0;
}

/* .main_menu {
  padding: 25px 0;
} */

.main_menu ul{
  display: flex;
}

.main_menu ul li{
  list-style: none;
  margin: 25px 20px;
}


.main_menu ul li a{
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  
}

.main_menu ul li:last-child a{
  background-color: #FF900E;
  padding: 10px 18px;
  border-radius: 5px;
}

.main_menu ul li:last-child a:hover{
  color: #FFF4E7;
}

.main_menu ul li a:hover{
  color: #FF900E;
}
/* header css */

/* brand new css */
.brand_new {
  max-width: 700px;
  margin: 100px auto;
  text-align: center !important;  
}


.brand_new h1 {
  font-size: 64px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 30px;
}

.brand_new p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.banner_img {
  max-width: 1100px;
  height: 700px;
  margin: 0 auto;
}

.banner_img img{
  width: 100%;
  padding: 0;
  margin: 0;
}

/* brand new css */

/* feature_part css */

.feature_section{
  max-width: 1100px;
  margin: 0 auto 100px auto;
}
.feature_part {
  display: flex;
  
}

.feature_imgs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 1500px;
}

.feature_img img{
  width: 100%;
}

.feature_text {
  margin: 100px 0 100px 40px;
}


/* feature_part css */

/* feature_enjoy_part */
.feature_enjoy_section {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 100px;

}

.feature_enjoy_part{
  display: flex;
}

.feature_enjoy_info h1{
  border-left: 6px solid #FF900E;
  border-radius: 10px;
  padding-left: 10px;
}

.feature_enjoy_info {
  padding: 30px 50px 0 30px;
}

.feature_enjoy_text{
  margin: 30px 0;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #FF900E;
  

}

.feature_enjoy_text h4 {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}

.feature_enjoy_text p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
}

.feature_enjoy_text{
  position: relative;
}

.feature_enjoy_text::after {
  position:absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #FF900E;
  width: 0;
  transition: 0.40s;
}

.feature_enjoy_text:hover::after {
  width: 100%;
}

.feature_enjoy_img {
  width: 1100px;
  height: 870px;
  border-radius: 8px;
  box-shadow:  inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  position: relative;
}
.feature_enjoy_img img {
  width: 100%;
  height: 100%;
}

.feature_enjoy_btn{
  position: absolute;
  content: '';
  left: -30%;
  bottom: -50px;
}

/* feature_enjoy_part */

/* Some_Facts_section */
.Some_Facts_section {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.Some_Facts_part {
  display: flex;
  justify-content: space-evenly;
}

.Some_Facts_img{
  text-align: center;
  height: 250px;
  width: 250px;
  border-radius: 8px;
  padding: 40px 30px;
  margin-top: 40px;
  box-shadow:  inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 144, 14),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.Some_Facts_img:hover{
  background-color: rgb(255, 144, 14);
}

.Some_Facts_img h1{
  color: #424242;
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0;
}

.Some_Facts_img {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}
/* Some_Facts_section */

/* Sponspors part */
.Sponspors_section{
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.Sponspors_heading {
  text-align: center;
}

.Sponspors_part {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
/* Sponspors part */

/* footer css */

footer{
  max-width: 1100px;
  margin: 0 auto;
  background-color: #FFF4E7;
  border-radius: 8px;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 100px;
}

/* footer css */

/* Mobile Device */

@media only screen and (max-width: 576px) {
  .section_heading {
    font-size: 30px;
    text-align: center;
  }

  .section_details{
    text-align: center;
  }
  header{
    display: block;
    padding-left: 40px;
  }

  .logo_text p{
    padding: 8px 0;
  }
  
  .main_menu {
    padding: 0;
  }
  
  .main_menu ul{
    display: block;
  }
  
  .main_menu ul li {
    padding: 8px 0;
    
  }

  .main_menu ul li a{
    padding-left: 0;
    
  }

  .brand_new {
    margin: 50px auto;  
  }  

  .banner_img {
    display: none;
  }

  .feature_section{
    margin: 0 auto 50px auto;
  }
  .feature_part {
    display: block;
    
  }
  
  .feature_imgs{
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
  }
  
  
  .feature_text {
    margin: 50px 0 50px 0;
    text-align: center;
  }

  .feature_enjoy_part{
    display: block;
  }

  .feature_enjoy_img img {
    width: 100%;
  }

  .feature_enjoy_img {
    width: 500px;
    height: 700px;
  }

  .feature_enjoy_btn{
    left: 22%;
    bottom: -50px;
  }

  .Some_Facts_section {
    padding-bottom: 50px;
  }
  
  .Some_Facts_part {
    display: block;
    justify-content: center;
  }

  .Some_Facts_img{
    margin: 10px auto;
  }

  .Sponspors_section{
    padding-bottom: 50px;
  }

  .Sponspors_part {
    display: block;
    text-align: center;
    margin-top: 60px;
    
  }


  .Sponspors_part img {
    margin-bottom: 10px;
  } 

  footer{
    margin-bottom: 50px;
    padding: 20px 50px;
  }

  

}